
  .comment-section h4 {
    margin-bottom: 1rem;
  }
  
  .comment-input {
    width: 100%;
    height: 150px;
    resize: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 1rem;
  }

  .list-group-item {
    border: none;
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 10px;
  }
  
  .list-group-item:last-child {
    border-bottom: none;
  }

  .text-muted {
    color: #6c757d !important;
  }
  
  .btn-comment {
    align-content: center;
    background-color: #5a7682;
    color: white;
    width: 150px;
  }
  .btn-comment:hover {
    background-color: #475e68;
    color: white;
  }
  
  .border {
    border: 1px solid #dee2e6 !important;
  }
  
  .rounded {
    border-radius: 5px !important;
  }
  
  .shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
  }
  
  .bg-light {
    background-color: #f8f9fa !important;
  }
  
  .mt-2 {
    margin-top: .5rem !important;
  }
  
  .mt-4 {
    margin-top: 1.5rem !important;
  }
  
  .mb-2 {
    margin-bottom: .5rem !important;
  }
  
  .mb-3 {
    margin-bottom: 1rem !important;
  }
  
  .mb-4 {
    margin-bottom: 1.5rem !important;
  }
  
  .p-3 {
    padding: 1rem !important;
  }
  
  .p-4 {
    padding: 1.5rem !important;
  }
  