/* textarea */
.input_textarea_comment {
  width: 100%; 
  height: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.input_textarea_comment:focus {
  outline: none;
}

.btn_comment {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn_comment:hover {
  background-color: #45a049;
  color: white;
}