/* textarea */
.input_textarea_comment {
  width: 100%; 
  height: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.input_textarea_comment:focus {
  outline: none;
}