.hero-title {
    padding: 20px;
    background-color: #546e7a;
    color: white;
    text-align: center;
    font-display: 2;
}

.contenido {
    margin-bottom: 50px; 
  }

  .container{
    height: auto;
  }