.footer {
  display: grid;
  padding: 1.5rem 1rem;
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #fff;
}

.footer-company {
  display: grid;
  align-items: center;
  justify-content: center;
}

.footer-company p {
  margin: 0;
  font-weight: 600;
}