.container-report-pet {
  display: grid;
  grid-template-columns: 1fr 2fr;
  max-width:90%;
  margin: 0 auto;
  padding: 3rem 0;
}

.container-image {
  background-color: #546e7a;
  width: 100%;
  height: 75vh;
}

.container-form {
  text-align: center;
  padding: 1rem 6rem;
}

.form_group_row {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.form-control {
  flex: 1;
  min-width: 200px;
  border: none;
}

.form-control label {
  display: block;
  margin-bottom: 0.5rem;
  text-align: left ;
  font-weight: bold;
}

.form-control input, select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.item_center {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.form_button {
  background-color: #546e7a;;
  color: white;
  padding: 0;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}
